@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.Login {
  width: 25rem;
  height: 23rem;
  background-color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  text-align: center;
}

.inputEmail {
  width: 13rem;
  height: 3ch;
  font-family: "Roboto", sans-serif;
  margin-top: 7rem;
  padding: 1%;
}

.inputSenha {
  width: 13rem;
  height: 3ch;
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
  padding: 1%;
  border-color: 1px solid #a9aab1;
}

.buttonLogin {
  width: 10rem;
  height: 2rem;
  background-color: #6ebfb5;
  border-color: #6ebfb5;
  margin: -6rem 0 0 8rem;
  align-items: center;
  display: flex;
  border-radius: 5px;
}
