@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
.layout {
  width: 89rem;
  height: 57rem;
  display: flex;
  background-color: #f1f3f8;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: -9rem;
  font-family: "Ubuntu", sans-serif;
}

.Menu {
  width: 14rem;
  height: 54rem;
  background-color: #d6e0f0;
  margin: 1rem 0 0 1rem;
  border-radius: 2rem;
  position: absolute;
}

.Menu ul {
  list-style: none;
  font-size: 1.2rem;
}

.Menu ul img {
  position: absolute;
  margin: 0 0 0 -1rem;
}

.Menu ul li {
  margin: 2.4rem 0 0 1.7rem;
  justify-items: center;
  align-items: center;
  text-decoration: none;
}

.Menu ul li a {
  color: rgb(49, 43, 43);
  text-decoration: none;
}
.orders {
  margin: 4ch 0 0 -1rem !important;
}

.analytic {
  margin: 16% 0 0 -1rem !important;
}

.title {
  display: flex;
  margin: 2rem 0 0 17rem;
  font-size: 1.8rem;
}

.grafico {
  display: flex;
  float: left;
  position: absolute;
  margin: 18rem 0 0 17rem;
  font-size: 0.9rem;
}

.grafico2 {
  display: flex;
  float: left;
  position: absolute;
  margin: 35rem 0 0 59ch;
  font-size: 0.9rem;
}
.EarningsMonth {
  width: 19rem;
  height: 15rem;
  background-color: #fff;
  margin: 4rem 0 0 -13rem;
  border-radius: 2rem;
}

.EarningsMonth h1 {
  font-size: 2ch;
  margin: 2ch 0 0 2ch;
  color: #9db2d3;
}

.EarningsMonth p {
  display: flex;
  margin: 1ch 0 0 2.1ch;
  font-size: 2.2rem;
}

.simbolo {
  display: flex !important;
  margin: 1pc 0 0 1ch !important;
  position: absolute !important;
}

.renda {
  width: 19rem;
  height: 18rem;
  position: absolute;
  margin: -10rem 0 0 0;
}

.graficoOrders {
  width: 19rem;
  height: 18rem;
  position: absolute;
  margin: -10rem 0 0 0;
}

.rendaTotal {
  width: 49rem;
  height: 33rem;
  background-color: #fff;
  float: left;
  margin: 22rem 0 0 38rem;
  border-radius: 4%;
  position: absolute;
}

.rendaTotal h1 {
  margin: -3pc 0 0 0;
}

.graficosGanhos {
  width: 50rem;
  height: 33rem;
  float: right;
  margin: -6rem 0 0 0;
}

.button {
  width: 85ch;
  height: 5rem;
  display: flex;
  background-color: #dbe3e5;
  border-radius: 1rem;
  margin: 0px 7px;
}
.bg-bottom {
  width: 10rem;
  height: 5ch;
  justify-content: center;
  display: inline-block;
  margin: 1rem 1rem 0;
  font-family: "Ubuntu", sans-serif;
  border-radius: 1ch;
  background-color: #b2ebf2;
  border-color: #b2ebf2;
  color: #318fb5;
}

.active {
  color: #fff;
  background-color: #3282b8;
  border-color: #3282b8;
}
button {
  outline: none;
}
@media (min-width: 100px) and (max-width: 1000px) {
  html {
    background-color: #fff;
  }
}
@media (min-width: 800px) and (max-width: 2000px) {
  .layout {
    margin: 0 0 0 -4rem;
  }
}
@media (min-width: 768px) and (max-width: 600px) {
  .layout {
    /* margin: 0; */
  }
}
