.width {
  width: 21rem;
  height: 11rem;
  max-width: 23rem;
  background-color: #fff;
  border-radius: 5ch;
  margin: 6rem 0 0 -15ch;
}

.p1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11ch;
  grid-auto-rows: 273px;
}

.width h1 {
  margin: 1rem 0 0 2ch;
  font-size: 2rem;
}

.image {
  width: 4rem;
  background-color: #ffe277;
  height: 4rem;
  float: right;
  margin: -4ch 3ch 0 0;
  border-radius: 43%;
}

.image img {
  float: right;
  margin: 5px 1ch 0 0 !important;
  width: 2.8rem;
}

.width p {
  margin: 4ch 0 0 3ch;
  font-size: 1.3rem;
  color: #4b5d67;
}

.product {
  background-color: #a6dcef;
}

.email {
  background-color: #a2de96;
}
