@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.table {
  width: 205%;
  height: 50%;
  border-collapse: collapse;
  background-color: #fff;
  font-family: "Ubuntu", sans-serif;
  margin: 0 0 0 -5rem;
}

tr:hover {
  background-color: #a9aaaa;
}
th,
td {
  border: 1px solid #dee2e6;
}

th {
  height: 50px;
}

thead,
td {
  text-align: center;
  height: 6ch;
}

@media (min-width: 580px) and (max-width: 606px) {
  .table {
    margin-left: -7rem;
  }
}
